### Dataset Wrangling and EDA

Data cleaning on the NYC dataset. <br>
Perform basic statistic analysis on the NYC dataset.

### Load the data

In [3]:
import pandas as pd

file_path = 'data/nyc_temperatures.csv'
# Load a CSV file into a DataFrame
df = pd.read_csv(file_path)
print(df)

                   date datatype            station attributes  value
0   2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1   2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2   2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3   2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4   2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1
..                  ...      ...                ...        ...    ...
88  2018-10-30T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   13.9
89  2018-10-30T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400    7.2
90  2018-10-31T00:00:00     TAVG  GHCND:USW00014732      H,,S,   12.6
91  2018-10-31T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   17.8
92  2018-10-31T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400    7.2

[93 rows x 5 columns]

### Explore the dataset

In [4]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        93 non-null     object
 1   datatype    93 non-null     object
 2   station     93 non-null     object
 3   attributes  93 non-null     object
 4   value       93 non-null     float64
dtypes: float64(1), object(4)
memory usage: 3.8+ KB
None
           value
count  93.000000
mean   15.408602
std     6.133703
min     5.600000
25%    10.200000
50%    14.400000
75%    21.100000
max    27.800000

### Rename Columns

In [9]:
# Check column names
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_C'], dtype='object')

In [10]:
# Change value to temp_C
df.rename(
columns={
'value' : 'temp_C',
'attributes' : 'flags'
}, inplace=True
)

In [11]:
# Check column names
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_C'], dtype='object')

We can also perform string operations on the columns with .rename

In [18]:
df.rename(str.upper, axis='columns', inplace=True)
display(df)

                   DATE DATATYPE            STATION     FLAGS  TEMP_C
0   2018-10-01T00:00:00     TAVG  GHCND:USW00014732     H,,S,    21.2
1   2018-10-01T00:00:00     TMAX  GHCND:USW00014732  ,,W,2400    25.6
2   2018-10-01T00:00:00     TMIN  GHCND:USW00014732  ,,W,2400    18.3
3   2018-10-02T00:00:00     TAVG  GHCND:USW00014732     H,,S,    22.7
4   2018-10-02T00:00:00     TMAX  GHCND:USW00014732  ,,W,2400    26.1
..                  ...      ...                ...       ...     ...
88  2018-10-30T00:00:00     TMAX  GHCND:USW00014732  ,,W,2400    13.9
89  2018-10-30T00:00:00     TMIN  GHCND:USW00014732  ,,W,2400     7.2
90  2018-10-31T00:00:00     TAVG  GHCND:USW00014732     H,,S,    12.6
91  2018-10-31T00:00:00     TMAX  GHCND:USW00014732  ,,W,2400    17.8
92  2018-10-31T00:00:00     TMIN  GHCND:USW00014732  ,,W,2400     7.2

[93 rows x 5 columns]

### Type Conversion