# Hands-on Activity 8.1 CRUD Operations using Python and SQLite3

## 8.1.2 Procedures:

### Create
Inserting or creating a new record within the table. 

Letʼs create an example table within Sqlite Database.

- The conn = sqlite3.connect(‘students.dbʼ) is the connection method and it is pretty simple with SQLite DB but it will differ with different databases.

In [1]:
# Creating table into database
import sqlite3
# Connect to sqlite database
conn = sqlite3.connect('students.db')
# cursor object
cursor = conn.cursor()
# drop query
cursor.execute("DROP TABLE IF EXISTS STUDENT")
# create query
query = """CREATE TABLE STUDENT(
        ID INT PRIMARY KEY NOT NULL,
        NAME CHAR(20) NOT NULL,
        ROLL CHAR(20),
        ADDRESS CHAR(50),
        CLASS CHAR(20) )"""
cursor.execute(query)
# commit and close
conn.commit()
conn.close()

- The cursor.execute() method execute sqlite queries.

In [ ]:
"""
CREATE TABLE table_name (
column name datatype properity,
...
...
);
"""

- The above syntax can be mapped with the query, there are three main attributes of a create query “column name datatype property”.
- After every database operation, we should add a commit and close DB operation.

In [2]:
import sqlite3
conn = sqlite3.connect('students.db')
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
"VALUES (1, 'John', '001', 'Bangalore', '10th')")
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
"VALUES (2, 'Naren', '002', 'Hyd', '12th')")
conn.commit()
conn.close()

- The above query syntax is hardcode data insertion.
- When we have data from an external input then we can modify the syntax this way.

In [3]:
conn = sqlite3.connect('students.db')
query = ('INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) '
'VALUES (:ID, :NAME, :ROLL, :ADDRESS, :CLASS);')
params = {
'ID': 3,
'NAME': 'Jax',
'ROLL': '003',
'ADDRESS': 'Delhi',
'CLASS': '9th'
}
conn.execute(query, params)
conn.commit()
conn.close()

## Read

This is an important operation because this belongs to Select query and has a lot more verity in fetching the records from the database. sometimes this operation will be very
tricky with multiple table database, Here are a few examples of select operations.

In [4]:
import sqlite3
conn = sqlite3.connect('students.db')
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'John', '001', 'Bangalore', '10th'), (2, 'Naren', '002', 'Hyd', '12th'), (3, 'Jax', '003', 'Delhi', '9th')]

- The simplest way fetching all the data “SELECT * from TABLENAME”

>SELECT column1, column2, columnN FROM table_name;

- We can mention only those column names are required.
- It is always good practice to mention names of the column if all the data is not required to fetch

> SELECT column1, column2, columnN FROM table_name WHERE column_name = value;

- where clause returns specific rows which record will match with the value.

## Update

The update is changing the existing record, the simple rule of the update is to use the best approach to reach the record and change it.

In [6]:
import sqlite3
conn = sqlite3.connect('students.db')
conn.execute("UPDATE STUDENT set ROLL = 005 where ID = 1")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'John', '5', 'Bangalore', '10th'), (2, 'Naren', '002', 'Hyd', '12th'), (3, 'Jax', '003', 'Delhi', '9th')]

## Delete

Removing any records from the table is a DELETE operation and the code below shows the delete query example.

In [9]:
import sqlite3
conn = sqlite3.connect('students.db')
conn.execute("DELETE from STUDENT where ID = 2;")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'John', '5', 'Bangalore', '10th'), (3, 'Jax', '003', 'Delhi', '9th')]

These are the basic CRUD operations on the SQLite database using python.

In [10]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('students.db')

# Check if the connection is in a transaction
if conn.in_transaction:
    print("There is an active transaction.")
else:
    print("No active transaction.")

# Don't forget to close the connection when you're done
conn.close()

No active transaction.

## 8.1.3 Supplementary Activity:

For this activity, you must simulate a banking ecosystem through Python and SQLite 3. The database (banking.db) must have the following tables with the following attributes:

- User
    - Customer Name
    - Account Number
    - Address
    - Phone

This user must be able to create account, withdraw and deposit. The account table must have the following details:

- Account
    - accNo
    - custName
    - balance
      
The account must be able to get updates and checked for balance. Lastly, a bank table containing the details of the bank must have the following:
- Bank
    - custDetails
    - loanDetails
    - txNo
    - txDate
    - txTime
      
The bank must be able to give loans, update details, collect money and make transactions. Use SQLite3 for your database and incorporate Python OOP techniques to perform the methods described. Enter your codes below.

In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('banking.db')

# Create a cursor object
cursor = conn.cursor()

# Drop tables if they exist
cursor.execute("DROP TABLE IF EXISTS User")
cursor.execute("DROP TABLE IF EXISTS Account")
cursor.execute("DROP TABLE IF EXISTS Bank")

# Create User table
cursor.execute("""
CREATE TABLE user (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_firstname CHAR(100) NOT NULL,
    customer_lastname CHAR(100) NOT NULL,
    address VARCHAR(250),
    phone INTEGER
)
""")

# Create Account table
cursor.execute("""
CREATE TABLE Account (
    account_number INTEGER PRIMARY KEY,
    customer_id INTEGER,
    balance REAL DEFAULT 0,
    FOREIGN KEY(customer_id) REFERENCES user(customer_id)
)
""")

# Create Bank table
cursor.execute("""
CREATE TABLE Bank (
    txNo INTEGER PRIMARY KEY AUTOINCREMENT,
    txDate DATE,
    txTime TIME,
    loan_number,
    loan_balance,
    customer_id
)
""")

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()